{% extends 'base.html.twig' %}
{% block body %}
    {% block main %}
        <div class="detail-item-container">
            <div class="detail-icon">
                <img src="{{ item.getPicUrl() }}" alt="{{ item.getName() }} Icon" class="detail-item-icon">
            </div>
            <div class="detail-item-name">
                {{ item.getName() }}
            </div>
            <div class="detail-recipe">
            {% if item.getProducedRecipes() is not empty %}
                {% for recipe in item.getProducedRecipes() %}
                    <div class="detail-recipe-ingredient">
                    {% for ingredient in recipe.getIngredients() %}
                        {{ ingredient.getIngredient().getName() }}
                    {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            <div class="detail-mystic-forge">
                {% if item.getProducedMysticForges() is not empty %}
                    {% for mysticForge in item.getProducedMysticForges() %}
                        <div class="detail-mystic-forge-ingredient">
                            {% for ingredient in mysticForge.getIngredients() %}
                                {{ ingredient.getIngredient().getName() }}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock %}