{# templates/detail_page/detail_page.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/detail.css') }}">
{% endblock %}

{% block body %}
    <div class="detail-container">
        <div class="detail-header">
            <img src="{{ item.getPicUrl() }}" alt="{{ item.getName() }} Icon" class="detail-item-icon">
            <div class="detail-item-info">
                <h2>{{ item.getName() }} ({{ item.getPrice() }} Gold)</h2>
            </div>
        </div>
        <div class="detail-content">
            {% if usedRecipes is not empty %}
                <div class="detail-used-in-recipe">
                    <h3>Verwendet in Rezepten</h3>
                    <div class="detail-recipe-list">
                        {% for recipe in usedRecipes %}
                            <div class="detail-recipe-box">
                                <div class="detail-recipe-box-header">
                                    <img src="{{ recipe.getOutputItem().getPicUrl() }}" alt="{{ recipe.getOutputItem().getName() }} Icon" class="detail-item-icon">
                                    <h4>{{ recipe.getOutputItem().getName() }} ({{ recipe.getOutputItem().getPrice() }} Gold)</h4>
                                </div>
                                <div class="ingredients">
                                    {% for ingredient in recipe.getIngredients() %}
                                        <div class="ingredient">
                                            <img src="{{ ingredient.getIngredient().getPicUrl() }}" alt="{{ ingredient.getIngredient().getName() }} Icon" class="detail-item-icon">
                                            <span>{{ ingredient.getIngredient().getName() }} ({{ ingredient.getQuantity() }}x)</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if usedMysticRecipes is not empty %}
                <div class="detail-used-in-mystic">
                    <h3>Verwendet in Mystic Forge Rezepten</h3>
                    <div class="detail-recipe-list">
                        {% for mysticForge in usedMysticRecipes %}
                            <div class="detail-recipe-box">
                                <div class="detail-recipe-box-header">
                                    <img src="{{ mysticForge.getOutputItem().getPicUrl() }}" alt="{{ mysticForge.getOutputItem().getName() }} Icon" class="detail-item-icon">
                                    <h4>{{ mysticForge.getOutputItem().getName() }} ({{ mysticForge.getOutputItem().getPrice() }} Gold)</h4>
                                </div>
                                <div class="ingredients">
                                    {% for ingredient in mysticForge.getIngredients() %}
                                        <div class="ingredient">
                                            <img src="{{ ingredient.getIngredientItem().getPicUrl() }}" alt="{{ ingredient.getIngredientItem().getName() }} Icon" class="detail-item-icon">
                                            <span>{{ ingredient.getIngredientItem().getName() }} ({{ ingredient.getQuantity() }}x)</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
