{% block body %}
    {{ form_start(searchForm, {'attr': {'class': 'searchForm'}}) }}

    <div class="searchBar">
        {{ form_widget(searchForm.query, {'attr': {'class': 'searchInput'}}) }}
        {{ form_widget(searchForm.submit, {'attr': {'class': 'searchButton'}}) }}
    </div>

    <div class="checkbox">
        <div class="checkbox-container">
            <div class="checkbox-item">
                {{ form_row(searchForm.crafting) }}
            </div>
            <div class="checkbox-item">
                {{ form_row(searchForm.selling) }}
            </div>
            <div class="checkbox-item">
                {{ form_row(searchForm.converting) }}
            </div>
        </div>
    </div>

    {{ form_end(searchForm) }}
{% endblock %}
